@page "/"

@using ArcanaGenerator.Data
@inject DataTemplateService DataTemplateService

<h1>Original Random Spell Generator</h1>
<br>
<button @onclick="GenerateSpell">Create a new spell</button>
<br>
<br>
<br>
@if (theSpell != null)
{
<table>
    <tr>
        <td>Name</td>
        <td>@theSpell.Name</td>
    </tr>
    <tr>
        <td>School</td>
        <td>@theSpell.School</td>
    </tr>
    <tr>
        <td>Type</td>
        <td>@theSpell.Effect.Type</td>
    </tr>
    <tr>
        <td>Cast Time</td>
        <td>@theSpell.CastTime</td>
    </tr>
    <tr>
        <td>Components</td>
        <td>@theSpell.Components.SummarizeIncludingSpecificMaterials()</td>
    </tr>
    <tr>
        <td>Ritual</td>
        <td>@theSpell.Ritual</td>
    </tr>
    <tr>
        <td>Duration</td>
        <td>@theSpell.Effect.Duration</td>
    </tr>
    <tr>
        <td>Concentration</td>
        <td>@theSpell.RequiresConcentration</td>
    </tr>
    <tr>
        <td>Delivery</td>
        <td>@theSpell.Delivery.Description</td>
    </tr>
    <tr>
        <td>Effect</td>
        <td>@theSpell.Effect.Description</td>
    </tr>
    @if (theSpell.CasterPenaltyCost != null)
    {
        <tr>
            <td>Penalty</td>
            <td>@theSpell.CasterPenaltyCost.Description</td>
        </tr>
        <tr>
            <td>Penalty Duration</td>
            <td>@theSpell.CasterPenaltyCost.Duration</td>
        </tr>
    }
    <tr>
        <td>Power Rating</td>
        <td>@theSpell.GetFinalPowerRating()</td>
    </tr>
</table>
}

@code {
    private GeneratorEngine.Spell theSpell;


    private void GenerateSpell()
    {
        theSpell = GeneratorEngine.Generators.SpellGenerator.CreateSpell(DataTemplateService);
    }
}
